@use '/src/styles/variables' as v;

.skills {
  ul {
    padding: 0;
    margin: 0;
  }
  li {
    list-style: none;
    margin: 0.3rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }
  .skill {
    border: solid 1px v.$color-border;
    border-radius: 0.28571429rem;
    background-color: v.$color-background;
    align-items: center;
    color: white;

    &-name {
      border: solid 1px v.$color-border;
      border-radius: 0.28571429rem;
      justify-content: center;
      font-weight: bold;
      flex: 1 1 35px;
    }

    &-description {
      border: solid 1px v.$color-border;
      border-radius: 0.28571429rem;
      text-align: left;
      flex: 2 1 70px;
    }
  }
}

@media (max-width: 400px) {
  .skills ul {
    display: block !important;
  }
}