@use '/src/styles/variables' as v;

.Class {
  background-color: #556b2f71 !important;
  .ui.header {
    color: white;
  }
  ul {
    padding: 0;
  }
  li {
    list-style: none;
    margin: 0.3rem 0;
    display: flex;
    gap: 0.3rem;
  }
  .Class {
    border: solid 1px v.$color-border;
    border-radius: 0.28571429rem;
    background-color: v.$color-background !important;
    align-items: center;
    padding: 0.5rem;
    color: white;

    &-name {
      border: solid 1px v.$color-border;
      border-radius: 0.28571429rem;
      justify-content: center;
      background-color: v.$color-background !important;
      color: white;
      font-weight: bold;
      flex: 1 1 35px;
      padding: 0.3rem;
    }

    &-notes {
      border: solid 1px v.$color-border;
      border-radius: 0.28571429rem;
      text-align: left;
      flex: 2 1 70px;
      padding: 0.5rem;
    }

    .ui.button {
      margin: 0;
      background-color: grey;
      color: white;
      border: none;
      border-radius: 0.28571429rem;
      padding: 0.5rem 1rem;
      transition: background-color 0.3s;
    }
  }
}
