@use '../../styles/variables' as v;

div.ui.segment.character-info {
  background: linear-gradient(90deg, transparent, #938410cc, transparent);

  span {
    margin: 0 0.1em;
  }

  input {
    margin: 0 1.2em 0 0;
    border: none;
    // background-color: transparent;
    font-size: 1.15em;
    color: white;
  }

  #name {
    font-weight: bold;
    width: fit-content;
  }
  #classes {
    width: 6em;
  }
  #level {
    width: 3em;
  }
  #experience {
    width: 4em;
    text-align: right;
    margin: 0;
  }
}

@media (max-width: 767px) {
  .scrollbar {
    float: none;
    margin: 1.2em;
  }

  .ui.tabular.menu {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }
}
.ui.segment,
.ui.segments .segment {
  color: #ffffff;
}
.character-pane {
  background-color: rgb(59 43 23 / 89%) !important;
}

.ui.segment .spells,
.ui.segment .inventory,
.ui.segment .active-skills,
.ui.segment .passive-skills,
.ui.segment .stat {
  background-color: #556b2f71 !important;
}
.ui.segment .stat-name {
  background-color: v.$color-background !important;
}
.ui.form textarea {
  background-color: rgba(59, 43, 23, 0.842) !important;
  color: #ffffff !important;
}
.ui .segment .stat-name {
  border: 1px solid red($color: #de1515) !important;
  background-color: #556b2f71;
}

// .ui.stackable.two.column.grid .column {
//   flex: 1;
//   display: flex;
//   align-items: stretch;
// }
