// .home {
//   background-image: url('/src/assets/images/ArtefactV5.png');
//   background-position: top;
//   background-repeat: no-repeat;
// }
.container {
  text-rendering: optimizeLegibility;
  color: azure;
  background-color: rgba(37, 37, 37, 0.424);
  padding: 1rem;
  margin: 1rem;
  border: 1px solid white;
}
