// .home {
//   background-image: url('/src/assets/images/ArtefactV5.png');
//   background-position: top;
//   background-repeat: no-repeat;
// }
.container {
  text-rendering: optimizeLegibility;
  color: azure;
  background: linear-gradient(90deg, transparent, #3b2b17e2, transparent);

  padding: 1rem;
  margin: 1rem;
  border: 1px solid white;
}
.homeContainer {
  box-sizing: content-box;
  background: linear-gradient(90deg, transparent, #556b2fcc, transparent);
  color: #ffd700 !important;

  box-shadow: 0 0 3px 3px rgba(255, 255, 255, 0.048);
}
.homeContainerBox {
  color: #f0e68c !important;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  background: linear-gradient(90deg, transparent, #6b5a2f, transparent);
  box-sizing: border-box;
  min-width: 60vw;
  max-width: 60vw;
}
